#chat.modal.modal-fixed-footer.bottom-sheet
	.modal-content(style={height: 'calc(100% - 10em)'})
		h4 Chat
		ul#messages.collection
	.modal-footer(style={height: '10em'})
		.row
			.input-field.col.s8
				textarea#message.materialize-textarea(name='user')
				label(for='message') Message
			.col.s4
				a.modal-action.modal-close.btn-flat.waves-effect.waves-right Close
				button#send.btn.waves-effect.waves-right Send

li#messageBox.collection-item.avatar(style={display: 'none'})
	i.material-icons.circle person
	span.title
	p.message
