#chat.modal
	.modal-content
		h4 Chat
		ul#messages.collection
	.modal-footer
		.input-field.col.s12
			textarea#message.materialize-textarea(name='user')
			label(for='message') Message
		.row
			.col.s2
				button#send.btn.waves-effect.waves-right Send
			.col.s2.offset-s8
				a.modal-action.modal-close.btn-flat.waves-effect.waves-right Close

li#messageBox.collection-item.avatar(style={display: 'none'})
	i.material-icons.circle person
	span.title
	p.message
