#chat.modal.modal-fixed-footer.bottom-sheet
	.modal-content
		h4 Chat
			i.modal-action.modal-close.material-icons.right close
		ul#messages.collection
	.modal-footer
		.row
			.input-field.col.s8
				textarea#message.materialize-textarea(name='user')
				label(for='message') Message
			.col.s4
				button#send.btn.waves-effect.waves-right Send

li#messageBox.collection-item.avatar.hide
	i.material-icons.circle.icon person
	span.title
	pre.message
	a.secondary-content.change-admin(href='#!')
		i.material-icons lock
