doctype html
html
	head
		title #{title}
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
		link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css')
		script(src='http://code.jquery.com/jquery-3.1.0.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js')
		script(src='/socket.io/socket.io.js')
	body
		#header.navbar-fixed
			nav
				.nav-wrapper
					a.brand-logo #{title}
					ul.right
						if user && !exists
							li
								ul#menulist.dropdown-content
									li
										a#logout Logout
								a.dropdown-button(href="#!", data-activates="menulist")
									i.material-icons more_vert
		.container
			block content
